/* GLOBAL STYLES */

html {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

strong {
    font-weight: normal;
}

em {
    font-style: normal;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0d0c1d; 
    touch-action: manipulation;
    margin: 0;
    letter-spacing: 1px;
    color: #e0e0f0;    
}


/* NAVIGATION */
#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.438);
    background-color: #141414;
    z-index: 5;
}


#main-nav ul {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 600px;
}

#main-nav li {
    flex: 1;
    margin-top: 1px;
}

#main-nav .navigation-link {
    display: block;
    width: 100%;
    color: #E0E1DD;
    font-size: 1.3em;
    padding: 10px 6px;
    border: 1px solid rgba(224, 225, 221, 0.5);
    transition: all 0.3s ease;
    height: 35.5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
    font-style: normal;
    height: 45px;

}
/* NAV MEDIA QUERY */
@media (min-width: 434px) {
    #main-nav .navigation-link {
        padding: 8px 12px;
        height: 46px;
    }
}

@media (min-width: 352px) {
     #main-nav .navigation-link {
    font-size: 1.1em;
    }
}

@media (min-width: 333px) { 
    #main-nav .navigation-link {
    font-size: 1em;
    }
}

@media (max-width: 333px) { 
    #main-nav .navigation-link {
    font-size: 90%;
    }
}

@media (max-width: 303px) { 
    #main-nav .navigation-link {
    font-size: 80%;
    }
}


#main-nav .navigation-link:hover,
#main-nav .navigation-link.mobile-hover-active {
    color: #BB86FC; 
    border-color: #BB86FC; 
    box-shadow: 0 0 15px rgba(187, 134, 252, 0.6), 
                0 0 25px rgba(187, 134, 252, 0.4),
                0 0 35px rgba(187, 134, 252, 0.2);
    transform: translateY(-3px);
}

/* FIX TO MOVING BUTTONS */
.navigation-link {
    transition: transform 0.3s ease-in-out;
}




/* HEADER*/
#mainPageHeader {
    margin-top: 35px;
    padding: 8px;
    text-wrap: balance;
    text-align: center;
}



/* MAIN*/
#mainPageMain {
    padding: 0 14px 14px 16px;
    margin: 0 auto;
}
#mainPageh2 {
    text-align: center;
    text-wrap: balance
    ;
}

#mainPageul {
    padding-left: 15px;
}
#mainPageul li {
    margin-top: 5px;
}


p {
    font-weight: 500;
}